* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.body {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007c9e;
  min-height: 50px;
  color: white;
  z-index: 5;
}

.home {
  position: fixed;
  top: 0px;
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  z-index: -6;
  background-color: #364655;
}
