.bricks {
  z-index: 3;
  position: absolute;
  top: 70px;
  width: 100%;
  overflow-y: auto;
  background-color: rgb(55, 63, 81);
}

.bricks .inputs h2 {
  color: rgb(216, 216, 216);
  margin-top: 20px;
}

.bricks .inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bricks .inputs input {
  height: 30px;
  text-align: center;
  font-size: 20px;
  margin-top: 0px;
  border-radius: 5px;
  font-weight: bold;
}

.bricks .inputs button {
  background-color: rgb(65, 160, 65);
  color: white;
  border: none;
  font-size: 30px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  margin-top: 20px;
  &:active {
    background-color: rgb(37, 255, 37);
  }
}
