* {
  padding: 0%;
  margin: 0;
}

body {
  background-color: rgb(55, 55, 82);
}

.home_link {
  text-decoration: none;
  color: white;
}

header {
  width: 100%;
  height: 50px;
  background-color: rgb(38, 123, 192);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.welcome-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;

  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.welcome {
  color: #ff6600;
}

p,
li {
  color: #ffffff;
}

.img {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 15px;
}

.side_bar {
  position: absolute;
  width: 300px;
  height: 730px;
  background-color: rgb(107, 107, 107);
  top: 50px;
  position: fixed;
  overflow-y: auto;
}

/* 
bricks calculation */

.bricks_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bricks_container h1 {
  text-align: center;
  color: #ff6600;
}

.bricks_container h2 {
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: center;
  color: white;
}

.bricks_container input {
  font-size: 25px;
  text-align: center;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bricks_container button {
  background-color: rgb(3, 182, 3);
  color: white;
  font-size: 30px;
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin-left: 30%;
}

.bricks {
  text-decoration: none;
  color: white;
  font-size: 30px;
  border: 1px solid white;
  padding: 5px;
  position: absolute;
  margin-top: 10px;
}

.side_bar h1 {
  text-align: center;
  color: white;
  margin-top: 10px;
}
